@font-face {
    font-family: DINPro-black;
    src: url(/fonts/DINPro/DINPro-black/DINPro-black.OTF) format("otf");
}

@font-face {
    font-family: DINPro-bold;
    src: url(/fonts/DINPro/DINPro-bold/DINPro-bold.otf) format("otf");
}

@font-face {
    font-family: DINPro-light;
    src: url(/fonts/DINPro/DINPro-light/DINPro-light.otf) format("otf");
}

@font-face {
    font-family: DINPro-medium;
    src: url(/fonts/DINPro/DINPro-medium/DINPro-medium.otf) format("otf");
}

@font-face {
    font-family: DINPro-regular;
    src: url(/fonts/DINPro/DINPro-regular/DINPro-regular.OTF) format("otf");
}