$black-color: #141414;
$dark-blue-color: #0493CE;
$light-blue-color: #00A0E3;
$red-color: #D1202B;
$dark-gray-color: #969696;
$light-gray-color: #DDDDDD;
$white-color: #ffffff;

@import 'styles/fonts/index.scss';
@import 'styles/header/index.scss';
@import 'styles/common/button/index.scss';
@import 'styles/common/section/index.scss';

html, body {
    margin: 0;
}